<div class="col-md-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="" placeholder="First name" name="first_name" required>
    <label for="floatingInput">First name:</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="" placeholder="Last name" name="last_name" required>
    <label for="floatingInput">Last name:</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="" placeholder="Email" name="email" required>
    <label for="floatingInput">Email:</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="" placeholder="phone" name="phone_no" required>
    <label for="floatingInput">Phone No:</label>
    </div>
</div>

<div class="col-md-12">
    <div class="form-floating mb-3">
    <textarea type="text" class="form-control" id="floatingInput"  placeholder="comment" name="comments" style="height: 200px;" required></textarea>
    
    <label for="floatingInput">Comments:</label>
    </div>
</div>





